Makefile
Makefile.in
autom4te.cache/
.deps/
.libs/
*.o
*.panel-applet
*.panel-applet.in
*.service
/aclocal.m4
/ChangeLog
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/debian/*.log
/debian/*.substvars
/debian/files
/debian/sysmenu-applet/
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/m4/*.m4
/missing
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/po/sysmenu-applet.pot
/stamp-h1
/sysmenu/sysmenu_applet
